body {
    padding: 0;
    margin: 0;
    background-color: black;
    background-size: 100% 100%;
    color: white;
    font-size: x-large;
}
.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.i1 {
    border-radius: 60px;
    margin-bottom: 20px;
}
.button {
    padding: 10px 30px;
    border-radius: 60px;
    cursor: pointer;
    border-radius: 20px;
}
.table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 30%;
}
.table th, .table td {
    border: 2px solid white;
    padding: 5px;
    text-align: center;
}
.table th {
    background-color: orangered;
}
.table td {
    background-color: black;
}
.button-small {
    padding: 5px 10px;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
}